<Wix xmlns="http://wixtoolset.org/schemas/v4/wxs" xmlns:ui="http://wixtoolset.org/schemas/v4/wxs/ui">
  <Package Name="vDos 2026" Manufacturer="vDos 2026" Version="1.0.0.0" UpgradeCode="8B6D6614-B0D3-4D3D-B660-4911C5E5E601" Scope="perMachine">
    <MajorUpgrade DowngradeErrorMessage="A newer version of vDos 2026 is already installed." />
    <MediaTemplate EmbedCab="yes" />
    <SetProperty Id="ARPINSTALLLOCATION" Value="[INSTALLFOLDER]" After="CostFinalize" Sequence="both" />
    <ui:WixUI Id="WixUI_InstallDir" InstallDirectory="INSTALLFOLDER" />

    <Feature Id="Main" Title="vDos 2026" Level="1">
      <ComponentGroupRef Id="ApplicationFiles" />
      <ComponentGroupRef Id="ConfigurationFiles" />
      <ComponentGroupRef Id="ShortcutFiles" />
      <ComponentGroupRef Id="DesktopShortcuts" />
    </Feature>

    <StandardDirectory Id="ProgramFilesFolder">
      <Directory Id="INSTALLFOLDER" Name="vDos 2026" />
    </StandardDirectory>

    <StandardDirectory Id="ProgramMenuFolder">
      <Directory Id="ApplicationProgramsFolder" Name="vDos 2026" />
    </StandardDirectory>

    <StandardDirectory Id="DesktopFolder" />

    <ComponentGroup Id="ApplicationFiles" Directory="INSTALLFOLDER">
      <Component Id="VDosExe">
        <File Id="VDosExeFile" Source="$(var.VDosOutputDir)\vDos.exe" KeyPath="yes" />
      </Component>
      <Component Id="SdlDll">
        <File Id="SdlDllFile" Source="$(var.VDosOutputDir)\SDL.dll" KeyPath="yes" />
      </Component>
      <Component Id="PrintMonitorExe">
        <File Id="PrintMonitorExeFile" Source="$(var.MonitorOutputDir)\vDosPrintMonitor.exe" KeyPath="yes" />
      </Component>
      <Component Id="PrintMonitorDll">
        <File Id="PrintMonitorDllFile" Source="$(var.MonitorOutputDir)\vDosPrintMonitor.dll" KeyPath="yes" />
      </Component>
      <Component Id="PrintMonitorDeps">
        <File Id="PrintMonitorDepsFile" Source="$(var.MonitorOutputDir)\vDosPrintMonitor.deps.json" KeyPath="yes" />
      </Component>
      <Component Id="PrintMonitorRuntimeConfig">
        <File Id="PrintMonitorRuntimeConfigFile" Source="$(var.MonitorOutputDir)\vDosPrintMonitor.runtimeconfig.json" KeyPath="yes" />
      </Component>
    </ComponentGroup>

    <ComponentGroup Id="ConfigurationFiles" Directory="INSTALLFOLDER">
      <Component Id="AutoexecTxt" NeverOverwrite="yes">
        <File Id="AutoexecTxtFile" Source="$(var.VDosOutputDir)\autoexec.txt" KeyPath="yes" />
      </Component>
      <Component Id="ConfigTxt" NeverOverwrite="yes">
        <File Id="ConfigTxtFile" Source="$(var.VDosOutputDir)\config.txt" KeyPath="yes" />
      </Component>
    </ComponentGroup>

    <ComponentGroup Id="ShortcutFiles" Directory="ApplicationProgramsFolder">
      <Component Id="StartMenuShortcuts">
        <Shortcut Id="VDosShortcut" Name="vDos 2026" Target="[#VDosExeFile]" WorkingDirectory="INSTALLFOLDER" />
        <Shortcut Id="PrintMonitorShortcut" Name="vDos Print Monitor" Target="[#PrintMonitorExeFile]" WorkingDirectory="INSTALLFOLDER" Arguments="[INSTALLFOLDER]" />
        <RemoveFolder Id="RemoveApplicationProgramsFolder" On="uninstall" />
        <RegistryValue Root="HKCU" Key="Software\vDos2026" Name="StartMenuShortcuts" Type="integer" Value="1" KeyPath="yes" />
      </Component>
    </ComponentGroup>

    <ComponentGroup Id="DesktopShortcuts" Directory="DesktopFolder">
      <Component Id="DesktopShortcut">
        <Shortcut Id="DesktopVDosShortcut" Name="vDos 2026" Target="[#VDosExeFile]" WorkingDirectory="INSTALLFOLDER" />
        <RegistryValue Root="HKCU" Key="Software\vDos2026" Name="DesktopShortcut" Type="integer" Value="1" KeyPath="yes" />
      </Component>
    </ComponentGroup>
  </Package>
</Wix>